<%= form_tag admin_subscriber_path(@conn, :index), method: :get, class: "search-subscriber-form" do %>
  <i class="fa fa-search" aria-hidden="true"></i>
  <%= tag(:input, type: "text", name: "search", placeholder: "Search by Email or Phone", value: @search_term, class: "search-subscriber-input") %>
  <%= submit "Search", class: "btn btn-primary" %>
  <div class="clear"></div>
<% end %>
