<h1>T-Alerts</h1>
<div class="disable-account-content">
  <h2>Account Disabled</h2>
  <p>
    Your account has been disabled. No further notifications will be sent,
    and you will be unable to login into your account. Your account may be
    recovered by initiating a password reset.
  </p>
<div>
