<div class="form-group form__section">
  <%= label @form, :elevator, "I want alerts about these station features:", class: "form__label" %>
  <div class="btn-group btn-group-toggle btn__radio--toggle-container" data-toggle="buttons" role="radiogroup">
    <%= ConciergeSite.FacilitiesHelper.facility_checkbox(@form, @trip, :elevator, "Elevators") %>
    <%= ConciergeSite.FacilitiesHelper.facility_checkbox(@form, @trip, :escalator, "Escalators") %>
    <%= ConciergeSite.FacilitiesHelper.facility_checkbox(@form, @trip, :parking_area, "Parking") %>
    <%= ConciergeSite.FacilitiesHelper.facility_checkbox(@form, @trip, :bike_storage, "Bike Storage") %>
  </div>
</div>
