<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" href="<%= static_path(@conn, "/images/mbta-logo-t-180.png") %>" type="image/png">
    <link rel="icon" href="<%= static_path(@conn, "/images/mbta-logo-t-favicon.png") %>" sizes="32x32" type="image/png">
    <link rel="icon" href="<%= static_path(@conn, "/favicon.ico") %>" sizes="16x16" type="image/vnd.microsoft.icon">
    <title>T-Alerts</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app_v2.css") %>">

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= google_tag_manager_id() %>');</script>
  </head>
  <body class="no-js <%= assigns[:body_class] %>">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= google_tag_manager_id() %>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <header class="header__container">
      <div class="container position-relative">
        <%= render "_logo.html" %>
        <div class="header__right">
          <%= render "_beta.html", conn: @conn, current_user: @current_user %>
        </div>
      </div>
    </header>
    <header class="header__sub--container">
      <div class="container">
        <%= if @current_user do %>
          <%= link to: v2_trip_path(@conn, :index) do %>
            Subscriptions
          <% end %>
          <%= link to: v2_account_path(@conn, :edit) do %>
            Settings
          <% end %>
          <%= link to: v2_session_path(@conn, :delete), method: :delete do %>
            Logout
          <% end %>
        <% else %>
          <%= link(to: v2_session_path(@conn, :new)) do %>
            Already have a beta account? Log in
          <% end %>
        <% end %>
      </div>
    </header>
    <div class="container page__content">
      <div class="row justify-content-md-center">
        <% cols = if (assigns[:wide_layout]), do: "col-md-12", else: "col-md-8" %>
        <main id="main" class="<%= cols %>" tabindex="-1">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div>
    <%= if assigns[:footer_note] do %>
    <footer class="footer__sub--container">
      <div class="container">
        <%= raw assigns[:footer_note] %>
      </div>
    </footer>
    <% end %>
    <footer class="footer__container">
      <div class="container">
        <p class="footer__links">
          <%= link "Submit feedback", to: "https://www.mbta.com/beta-alerts-feedback" %> ●
          <%= link "FAQ", to: "https://www.mbta.com/about-t-alerts-beta" %>
        </p>
        <p class="footer__copyright">
          &copy; Massachusetts Bay Transportation Authority, all rights reserved. We will only use your information to provide you with the T-Alert services you have requested. See our <%= link "privacy policy", to: "https://www.mbta.com/policies/privacy-policy#4.6" %>.
        </p>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <!-- Informizely code for site “mbta.com” -->
    <script id="_informizely_script_tag" type="text/javascript">
    var IzWidget = IzWidget || {};
    (function (d) {
      var scriptElement = d.createElement("script");
      scriptElement.type = "text/javascript"; scriptElement.async = true;
      scriptElement.src = "https://insitez.blob.core.windows.net/site/69f607f3-3826-4aa6-9f86-996a07670833.js";
      var node = d.getElementById("_informizely_script_tag");
      node.parentNode.insertBefore(scriptElement, node);
    })(document);
    </script>
    <noscript><a href="https://www.informizely.com/">Informizely customer feedback surveys</a></noscript>
    <!-- End Informizely code. -->
    <div class="sr-only" data-type="speaker" role="region" aria-live="assertive"></div>
  </body>
</html>
