<%= @admin_user.email %>
<%= display_role(@admin_user) %>
<%= account_status(@admin_user) %>
<%= button("Deactivate Admin", to: admin_admin_user_path(@conn, :deactivate, @admin_user), method: "patch", class: "btn") %>
