export ALERT_API_URL=http://s3.amazonaws.com/mbta-realtime-test/alerts_enhanced.json
export API_KEY=
export API_URL=https://api-dev.mbtace.com/
export APP_COOKIE=
export AUTHENTICATION_SOURCE=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export DATABASE_URL_DEV=postgresql://__username__:password@localhost:5432/alert_concierge_dev
export DATABASE_URL_PROD=
export DATABASE_URL_TEST=postgresql://__username__:password@localhost:5432/alert_concierge_test
export GOOGLE_TAG_MANAGER_ID=
export GUARDIAN_AUTH_KEY=
export HOST_URL=
# Designated test keys: https://developers.google.com/recaptcha/docs/faq
export RECAPTCHA_PRIVATE_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
export RECAPTCHA_PUBLIC_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
export SECRET_KEY_BASE=
export SENDER_EMAIL_ADDRESS=alerts@mbta.com
export SENDER_EMAIL_NAME=T-Alerts
export SENTRY_DSN=
export SENTRY_ENV=local
export SERVICE_INFO_UPDATE_INTERVAL=86400000
export UNSUBSCRIBED_LIST_FETCH_INTERVAL=300000
