export ALERT_API_URL=http://s3.amazonaws.com/mbta-realtime-test/alerts_enhanced.json
export ALERT_FETCH_INTERVAL=10000
export API_KEY=
export API_URL=https://dev.api.mbtace.com/
export APP_COOKIE=
export AWS_ACCESS_KEY=
export AWS_SECRET_KEY=
export DATABASE_URL_DEV=postgresql://__username__:password@localhost:5432/alert_concierge_dev
export DATABASE_URL_PROD=
export DATABASE_URL_TEST=postgresql://__username__:password@localhost:5432/alert_concierge_test
export FEEDBACK_URL=http://mbtafeedback.com/
export GUARDIAN_AUTH_KEY=abc123
export HOST_URL=ec2-something.compute-1.amazonaws.com
export SECRET_KEY_BASE=
export SENDER_EMAIL_ADDRESS=alerts@mbta.com
export SENDER_EMAIL_NAME=T-Alerts
export SERVICE_INFO_UPDATE_INTERVAL=86400000
export UNSUBSCRIBED_LIST_FETCH_INTERVAL=300000
