.day-selector {
  .invisible-no-js {
    display: none;
  }

  .invisible-js {
    display: none;
  }

  label.btn {
    border-color: $brand-primary;
    border-radius: 0;
    font-size: $font-size-xs;
    z-index: inherit !important;

    @include media-breakpoint-up(sm) {
      font-size: $font-size-base;
    }

    &:focus {
      z-index: 2;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .title-part {
    padding-bottom: 4px;
    padding-left: 9px;
    display: flex;
    flex-direction: row;

    .day-header {
      flex: 1;
      width: 0;
      display: inline-block;
      font-size: $font-size-xs;
      text-align: center;
    }
  }

  .day-part {

    border-top-left-radius: 5px;

    .btn-group {
      display: flex;
      flex-direction: row;
    }

    label.btn {
      color: $brand-primary;
      margin-bottom: 0;
      flex: 1;
      width: 0;
    }
  }
  .group-part {
    .btn-group {
      display: flex;
      flex-direction: row;
    }

    label.btn {
      border-top: 0;
      border-radius: 0;
    }
    .btn-weekdays {
      width: 72.5%;
      border-bottom-left-radius: 5px !important;
    }
    .btn-weekend {
      width: 29%;
      border-bottom-right-radius: 5px !important;
    }
  }

  .btn-day {
    min-height: 50px;

    &.active {
      background-color: $light-blue;
    }

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }
  }
}

