.footer__container {
  background-color: $dark-blue;
  color: white;
  font-size: $font-size-xs;
  min-height: 6rem;
  width: 100%;
  padding-top: 1rem;
  overflow: hidden;
  text-align: left;
}

.footer__links,
.footer__links a,
.footer__copyright a {
  color: $brand-primary-light-contrast;
}

.footer__copyright {
  font-size: $font-size-xxs;
}
