.footer__container {
  background-color: $dark-blue;
  color: white;
  font-size: $font-size-xs;
  height: 6rem;
  width: 100%;
  padding-top: 1rem;
  overflow: hidden;
  text-align: center;
}

.footer__link {
  color: $link-color-dark-background;

  &:hover,
  &:active,
  &:focus {
    color: $link-color-dark-background;
    text-decoration: underline;
  }
}
