.form__label {
  font-weight: bold;
}

label.form__label--inline {
  padding-left: 5px;
  padding-right: 10px;
  font-style: italic;
  width: 170px;
  justify-content: flex-start;
}

.form__group--inline {
  padding-top: 10px;
  flex-flow: initial;
}

.form__time--inline {
  width: auto;
}

.form__input {
  padding: .75rem;
}

.form__input--inline {
  margin-left: .75rem;
  margin-right: .75rem;
  padding: .25rem;
}

.error-block-container {
  background-color: $form-error-message;
  margin-top: .5rem;

  span {
    display: block;
    margin: .5rem;
    padding: .4rem;

    &:before {
      @include fa-icon();
      content: $fa-var-exclamation-circle;
      margin-right: .25rem;
    }
  }
}
