.form__intro {
  margin-bottom: 1.25rem;
}

.form__instructions {
  margin: 1rem 0 1.5rem;
  font-weight: bold;
}

.form__label {
  font-weight: bold;
}

.form__label--disabled {
  color: $gray;
}

.form__label--radio {
  font-weight: bold;
  display: inline;
}

label.form__label--inline {
  padding-left: 5px;
  padding-right: 10px;
  font-style: italic;
  width: 170px;
  justify-content: flex-start;
}

.form__group--inline {
  padding-top: 10px;
  flex-flow: initial;
}

.form__time--inline {
  width: auto;
}

.form__input {
  padding: .75rem;
}

.form__input--inline {
  margin-left: .75rem;
  margin-right: .75rem;
  padding: .25rem;
}

.form__select--inline-small {
  display: inline-block;
  width: 8rem;
  margin-right: .5rem;
}

.error-block-container {
  background-color: $form-error-message;
  margin-top: .5rem;

  span {
    display: block;
    margin: .5rem;
    padding: .4rem;

    &:before {
      @include fa-icon();
      content: $fa-var-exclamation-circle;
      margin-right: .25rem;
    }
  }
}

.form__action-buttons--container {
  margin-top: 2.5rem;
}

.form__action-button {
  min-width: 10rem;
}

.form__section {
  margin-bottom: 2.5rem;
}

.form__section--top {
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

.form-control {
  border-color: $brand-primary;
}

.form-check-input {
  margin-top: .1rem;
}

.form__action--secondary-link {
  margin-top: 1rem;
}