.header__container {
  border-bottom: 1px solid $pale-grey;
  height: 3.5rem;
  position: relative;
}

.header__logo {
  display: block;
  float: left;
  height: 3rem;
  margin-top: .25rem;
  width: 12rem;
}

.header__right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
}

.header__beta {
  margin: 0 1rem;
}

.header__logout {
  margin-top: -.25rem;
}

.header__sub--container {
  position: relative;
  height: 2.5rem;
  line-height: 2.5rem;
  border-bottom: 1px solid $pale-grey;

  .container {
    @include media-breakpoint-up(md) {
      text-align: right;

      a {
        display: inline-block;
        margin-left: 2rem;
      }
    }

    @include media-breakpoint-down(sm) {
      display: flex;

      a {
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}