.header__container {
  height: 3.5rem;

  @include media-breakpoint-down(sm) {
    background-color: $brand-primary;
  }
}

.header__logo {
  display: block;
  fill: $gray-dark;
  height: 3rem;
  margin-top: .25rem;
  width: 12rem;

  @include media-breakpoint-down(sm) {
    fill: $white;
  }
}
