.header__container {
  border-bottom: 1px solid $pale-grey;
  height: 3.5rem;
  position: relative;
}

.header__logo {
  display: block;
  float: left;
  height: 3rem;
  margin-top: .25rem;
  width: 12rem;
}

.header__logo--small {
  display: block;
  float: left;
  height: 3rem;
  margin-top: .375rem;
  width: 3rem;
}

.header__right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 3.5rem;
  align-items: center;
  justify-content: center;
}

.header__beta {
  margin: 2px 1rem 0;
  display: block;
}

.header__logout {
  margin-top: -.25rem;
}

.header__sub--container {
  position: relative;
  height: 2.5rem;
  line-height: 2.5rem;
  border-bottom: 1px solid $pale-grey;

  .container {    
    text-align: right;

    a {
      display: inline-block;
      margin-left: 2rem;
    }
  }
}
