.helptext__link {
  display: none;
}

.helptext__link--icon {
  color: $gray;
  padding: .25rem;

  &:hover {
    color: $brand-primary;
  }
}

.helptext__message {
  background-color: $pale-grey;
  padding: $base-spacing;
}

.helptext__message--close {
  display: none;
  float: right;
}

.helptext__message--close-icon {
  background-color: $white;
  border-radius: 50%;
  color: $brand-primary;

  &:hover {
    color: $brand-navy-dark;
  }
}
