body.landing-page {
  .page__content {
    display: flex;
    max-height: 40rem;
    padding-bottom: 0;
    position: relative;

    @media screen and (max-width: 1088px) {
      max-height: none;
    }

    main {
      display: flex;
    }
  }

  @media screen and (min-width: 1089px) {
    .form-row > .col,
    .form-row > [class*="col-"] {
      padding: 0;
      position: relative;

      .form-control {
        border-radius: 0;
        border-left-width: 0;
      }
      &:first-of-type .form-control {
        border-left-width: 1px;
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
      &:last-of-type .form-control {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
  }

  .lb_label {
    font-weight: 700;
    top: -31px !important;
    width: 10rem;

    _:-ms-lang(x), & { top: 0 !important; }
  }

  .footer__container {
    box-shadow: 0 50vh 0 50vh $dark-blue;
  }
}

.landing-page {
  line-height: 1.5rem;
}

.landing-page__title {
  font-size: 36px;
  line-height: 2.5rem;
  margin-top: 1rem;

  span {
    white-space: nowrap;
  }
}

.landing-page__description {
  font-size: $font-size-xxl;
  margin-bottom: 5.5rem;

  @media screen and (max-width: 1088px) {
    margin-bottom: 2rem;
  }
}

.form-control__details {
  font-size: $font-size-xs;
  font-style: italic;
  line-height: 1.3125rem;
}

.form__action-buttons--container {
  margin-top: 0;
}

.form__action--secondary-link {
  margin-bottom: 3rem;
}

.landing-page__example {
  align-items: flex-end;

  img {
    margin: 0 -20px -15px auto;  // Move phone image down a bit to compensate for space at bottom
    width: 90%;
  }
}
