.heading__hero {
  border: 0;
  font-size: 2.25rem;
  margin: 0;
  padding: 0;
}

.margin__md {
  margin: 1.5rem 0;
}

.margin__lg {
  margin: 2rem 0;
}

.paragraph__md {
  font-size: 1.15rem;
  line-height: 1.5rem;
}

