.route__select--icon {
  margin-right: .5rem;
}

.route__mode--icon {
  width: 30px;
  height: 30;
}

.choices__bootstrap--theme[data-type="select-one"].is-open {
  &:after {
    border: 0 !important;
  }
}

.choices__bootstrap--route-theme {
  &.is-open {
    &[data-type="select-single"] {
      .choices__inner {
        display: none;
      }
    }
  }
}

.choices__bootstrap--theme {
  
  .choices__list--multiple {
    svg {
      display: none;
    }
  }

  &.is-focused {
    .choices__inner {
      border-color: $brand-primary;
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    }
  }

  .choices__inner {
    background-color: $white;
    font-size: $font-size-base;
  }

  .choices__list--dropdown .choices__item {
    font-size: $font-size-base;
  }

  &.is-open {
    .choices__list--dropdown {
      border: 0;
      margin-top: 0;
      border-radius: 5px;
    }

    .choices__list {
      max-height: 15rem;
    }
  }

  &.no-search {
    .choices__input {
      display: none !important;
    }
  }

  &.is-focused {
    .choices__list--dropdown {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
      z-index: 9999;
    }
  }

  .choices__list--dropdown {
    &.is-active {
      border: 1px solid $brand-primary;
      border-top: 0;
      border-radius: 0 0 5px 5px;
    }
  }

  .choices__list--multiple {
    .choices__bootstrap--item-selectable, .is-highlighted {
      background-color: $white !important;
      color: $brand-primary;
      border-radius: 5px;
      border-color: $brand-primary;
      font-size: 16px;

      .choices__button {
        border-left: 1px solid $gray-lightest;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMTY1Yzk2IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==)
      }
    }
  }
}

.route__selector--container {
  border: 1px solid $brand-primary;
  border-radius: 5px;

  .btn__radio--toggle-item-connected {
    border-top: 0;
    border-radius: 0;

    &:first-child {
      border-left: 0;
      border-radius: 5px 0 0 0;
    }

    &:last-child {
      border-right: 0;
      border-radius: 0 5px 0 0;
    }
  }

  .choices__inner {
    border: 0;
    border-radius: 0 0 5px 5px;
  }
}