.schedules__container {
  background-color: $gray-lightest;
  display: none;
}

.schedules__header {
  cursor: pointer;
  margin: 0;
  padding: $base-spacing / 2;
  border-top: 1px solid $pale-grey;
}

.schedules__trips--container {
  display: none;
  margin: 0;
  padding: 0;
}

.schedules__trips--leg {
  position: relative;
}

.schedules__trips--leg[data-expanded="true"] {
  .schedules__trips--container {
    display: block;
  }
}

.schedules__trips--item {
  border-top: 1px solid $pale-grey;
  clear: both;
  padding: $base-spacing / 2;

  svg {
    float: left;
    height: 18px;
    margin-right: 4px;
    width: 18px;
    transform: translate(0px, 3px);
  }
}

.schedules__toggle {
  padding: $base-spacing / 2;
  position: absolute;
  text-decoration: none;
  top: 2px;
  right: 0px;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
