.schedules__container {
  display: none;
}

.schedules__header,
.schedules__blankslate {
  font-weight: bold;
  margin: 0;
  padding: $base-spacing / 2 0;
  width: 95%;
}

.schedules__blankslate {
  display: none;
}

.schedules__trips--container {
  margin: 0;
  padding: 0;
  border: 1px solid $brand-primary;
  border-radius: 5px;
}

.schedules__trips--leg {
  position: relative;
}

.schedules__trips--item {
  clear: both;
  position: relative;

  .fa-check {
    position: absolute;
    right: 10px;
    top: 12px;
    display: none;
  }

  svg {
    height: 18px;
    margin: 0 .25rem;
    width: 18px;
    transform: translate(0px, 3px);
  }

  .btn__radio--toggle {
    margin-bottom: 0;
    text-align: left;
    align-items: start;
    padding: .5rem;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $brand-primary;

    &.active {
      .fa-check {
        display: block;
      }
    }
  }

  &[data-last-match="true"] {
    .btn__radio--toggle {
      border-bottom: 0;
    }
  }

  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
}

div [data-type="leg-error"] {
  display: none;
}