
.steps__wrapper {
  padding: 0 20%;

  @include media-breakpoint-down(sm) {
    padding: 0 8px;
  }
}

.steps__container {
  width: 100%;
  height: 1rem;
  position: relative;
  text-align: center;
}

.step__line--empty {
  border: 2px solid $brand-primary-light-contrast;
  height: 7px;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 5px;
}

.step__line--filled {
  @extend .step__line--empty;
  background: $brand-primary-light-contrast;
  z-index: 2;
}

.steps__step {
  width: 16px;
	height: 16px;
  background: $white;
  border: 2px solid $brand-primary-light-contrast;
  border-radius: 8px;
  position: absolute;
  z-index: 3;
}

.steps__step--one {
  left: -8px;
}

.steps__step--two {
  display: inline;
}

.steps__step--three {
  right: -8px;
}

.steps__container[data-step="one"] {
  .steps__step--one {
    background: $brand-primary-light-contrast;
  }
  .step__line--filled {
    display: none;
  }
}

.steps__container[data-step="two"] {
  .steps__step--one, .steps__step--two {
    background: $brand-primary-light-contrast;
  }
  .step__line--filled {
    width: 50%;
  }
}

.steps__container[data-step="three"] {
  .steps__step {
    background: $brand-primary-light-contrast;
  }
}
