.trip__card {
  display: block;
  line-height: 1.5rem;
  padding: .75rem;
  border-color: $steel;
  color: $black !important;
  text-align: left;

  &:hover,
  &:active,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}

.trip__card--route {
  display: inline-block;
  font-weight: bold;
}

.trip__card--route-deliminator {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 0 .5rem;
}

.trip__card--route-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  transform: translate(0px, 4px);

  svg {
    position: absolute;
  }
}

.trip__card--type, .trip__card--times {
  font-size: 1rem;
}

.trip__card--container {
  padding: 10px 0;

  &:first-child {
    padding-top: 2rem;
  }

  &:last-child {
    padding-bottom: 2rem;
  }
}

.trip__card--edit-link {
  float: right;
  color: $brand-primary;
}

.trip__editpage .trip__card--edit-link {
  display: none;
}

.trip__card--display {
  cursor: auto !important;

  &:hover {
    background-color: #fff !important;
  }
}