@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import 'node_modules/bootstrap/scss/variables';
@import "colors";

$container-max-widths: (
  md: 768px,
  lg: 960px,
  xxl: 1200px
);

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: map-get($container-max-widths, md) + (16px * 2),
  lg: map-get($container-max-widths, lg) + (16px * 8),
  xxl: map-get($container-max-widths, xxl) + (18px * 8),
);

$active-step-font-weight: bold;
$active-step-circle-border-color: $brand-primary;
$active-step-circle-background-color: $brand-primary;
$base-spacing: 1rem;
$line-height-base: 1.25rem;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-base: 16px;
$font-size-xxl: 18px;
$headings-font-weight: bold;
$headings-line-height: 1.5;
$font-size-h1: 1.625rem;
$font-size-h2: 1.375rem;;
$font-family-base: 'LatoLatinWeb', sans-serif;
$btn-padding-y: .585rem;
$base-form-line-height: 1.55rem;
$cta-margin-bottom: 1.875rem;
$suggestion-font-weight: bold;

$admin-search-hero-gradient-start: rgba(28, 30, 35, .4);
$admin-search-hero-gradient-end: rgba(28, 30, 35, .8);
$admin-search-hero-gradient: linear-gradient(to bottom, $admin-search-hero-gradient-start, $admin-search-hero-gradient-end);
