<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" href="<%= static_url(@conn, "/images/mbta-logo-t-180.png") %>" type="image/png">
    <link rel="icon" href="<%= static_url(@conn, "/images/mbta-logo-t-favicon.png") %>" sizes="32x32" type="image/png">
    <link rel="icon" href="<%= static_url(@conn, "/favicon.ico") %>" sizes="16x16" type="image/vnd.microsoft.icon">
    <title>T-Alerts</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= google_tag_manager_id() %>');</script>
  </head>

  <body class="no-js">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= google_tag_manager_id() %>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <header class="header">
      <nav class="navbar navbar-toggleable-sm navbar-default">
        <div class="container">
          <a href="https://t.mbta.com/"><%= img_tag(static_url(@conn, "/images/mbta-beta-logo.png"), class: "mbta-beta-logo navbar-brand") %></a>
          <%= if is_admin?(@current_user) do %>
            <div class="collapse navbar-collapse justify-content-end">
              <ul class="nav navbar-nav">
                <li class="nav-link <%= active_nav_class(@conn, "subscribers") %>">
                  <%= link "Subscribers", to: "/admin/subscribers"%>
                </li>
                <%= if is_app_admin?(@current_user) do %>
                  <li class="nav-link <%= active_nav_class(@conn, "admin_users") %>">
                    <%= link "Admins", to: "/admin/admin_users"%>
                  </li>
                <% end %>
                <li class="admin-navbar-email nav-link <%= active_nav_class(@conn, "my-account") %>">
                  <%= link @current_user.email, to: "/admin/my-account/edit" %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </nav>
      <div class="bg-faded">
        <div class="container breadcrumb">
          <a href="/my-subscriptions">T-Alerts</a>
          <%= for breadcrumb <- breadcrumbs(@conn) do %>
            <span>></span>
            <a class="breadcrumb-item" href="<%= breadcrumb.path %>"><%= breadcrumb.title %></a>
          <% end %>
        </div>
      </div>
      <%= impersonation_banner(@conn, @current_user) %>
    </header>
    <div class="container page-content">
      <main id="main" tabindex="-1">
      <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <footer class="footer">
      <p>&copy; Massachusetts Bay Transportation Authority, all rights reserved.</p>
      <%= if @feedback_url do %>
        <p><a href="<%= @feedback_url %>" target="_blank" class="footer-link">Send us your comments or questions</a></p>
      <% end %>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
