<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>T-Alerts</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="no-js">
    <header class="header">
      <nav class="navbar navbar-toggleable-sm navbar-default">
        <div class="container">
          <a href="https://t.mbta.com/"><%= img_tag(static_url(@conn, "/images/mbta-beta-logo.png"), class: "mbta-beta-logo navbar-brand") %></a>
          <%= if is_admin?(@current_user) do %>
            <div class="collapse navbar-collapse justify-content-end">
              <ul class="nav navbar-nav">
                <li class="nav-link <%= active_nav_class(@conn, "subscribers") %>">
                  <%= link "Subscribers", to: "/admin/subscribers"%>
                </li>
                <%= if is_app_admin?(@current_user) do %>
                  <li class="nav-link <%= active_nav_class(@conn, "admin_users") %>">
                    <%= link "Admins", to: "/admin/admin_users"%>
                  </li>
                <% end %>
                <li class="admin-navbar-email nav-link <%= active_nav_class(@conn, "my-account") %>">
                  <%= link @current_user.email, to: "/admin/my-account/edit" %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </nav>
      <div class="bg-faded">
        <div class="container breadcrumb">
          <a href="/my-subscriptions">T-Alerts</a>
          <%= for breadcrumb <- breadcrumbs(@conn) do %>
            <span>></span>
            <a class="breadcrumb-item" href="<%= breadcrumb.path %>"><%= breadcrumb.title %></a>
          <% end %>
        </div>
      </div>
      <%= impersonation_banner(@conn, @current_user) %>
    </header>
    <div class="container page-content">
      <main id="main" tabindex="-1">
      <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <footer class="footer">
      <p>&copy; Massachusetts Bay Transportation Authority, all rights reserved.</p>
      <%= if @feedback_url do %>
        <p><a href="<%= @feedback_url %>" target="_blank" class="footer-link">Send us your comments or questions</a></p>
      <% end %>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
