<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello MbtaServer!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="no-js">
    <header class="header">
      <nav class="navbar">
        <div class="top-navbar">
          <a href="https://t.mbta.com/"><%= img_tag(static_url(@conn, "/images/mbta-beta-logo.png"), class: "mbta-beta-logo") %></a>
        </div>
        <div class="bg-faded">
          <div class="breadcrumb">
            <a class="breadcrumb-item" href="https://t.mbta.com/">Home</a>
            <span>></span>
            <a class="breadcrumb-item" href="/my-subscriptions">T-Alerts</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="container page-content">
      <main id="main" tabindex="-1">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <footer class="footer">
      <p>&copy; Massachusetts Bay Transportation Authority, all rights reserved.</p>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
