<h1 class="heading__hero margin__md text-center">Welcome to T-Alerts!</h1>

<p class="paragraph__md text-center">T-Alerts are personalized text of email notifications about service disruptions and changes.</p>

<p class="paragraph__md text-center">Want to learn more? <a href="https://www.mbta.com/about-t-alerts-beta">Read out FAQ <i aria-hidden="true" class="fa fa-arrow-right "></i></a></p>

<p class="paragraph__md text-center margin__lg"><a class="btn btn-primary btn-lg" href="/v2/account/new">Sign up to T-Alerts</a></p>

<p class="paragraph__md text-center">Already have an account? <a href="/v2/login/new">Sign in <i aria-hidden="true" class="fa fa-arrow-right "></i></a></p>
