<h1 class="header-container">
  <%= @title %>
  <%= link to: subscription_path(ConciergeSite.Endpoint, :confirm_delete, @subscription), class: "header-link" do %>
    Delete Subscription <i class="fa fa-trash-o"></i>
  <% end %>
</h1>
