<%= link to: @link_to, class: "service-option" do %>
  <div class="<%= @icon_class %> subscription-icon">
    <img src="<%= @icon_src %>" />
  </div>
  <div class="subscription-text"><%= @name %></div>
<% end %>
