  <% customer_subscription_map = sorted_subscriptions(@subscriptions) %>
  <%= render "_subway_subscription_info.html", conn: @conn, subscriptions: customer_subscription_map[:subway], render_links: @render_links %>
  <%= render "_commuter_rail_subscription_info.html", conn: @conn, subscriptions: customer_subscription_map[:commuter_rail], departure_time_map: @departure_time_map, render_links: @render_links %>
  <%= render "_bus_subscription_info.html", conn: @conn, subscriptions: customer_subscription_map[:bus], render_links: @render_links %>
  <%= render "_ferry_subscription_info.html", conn: @conn, subscriptions: customer_subscription_map[:ferry], departure_time_map: @departure_time_map, render_links: @render_links %>
  <%= render "_amenity_subscription_info.html", conn: @conn, subscriptions: customer_subscription_map[:amenity], render_links: @render_links %>
