<div class="vacation-banner <%= vacation_color_class(@vacation_start, @vacation_end) %>">
  <%= vacation_banner_content(@vacation_start, @vacation_end) %>
  <%= if on_vacation?(@vacation_start, @vacation_end) do %>
    <%= link("Resume Alerts", to: "/my-account/vacation", method: :delete) %>
  <% else %>
    <%= link("Pause Alerts", to: "/my-account/vacation/edit") %>
  <% end %>
</div>
