<h1>My Subscriptions</h1>
<div class="my-subscriptions-container">
  <% customer_subscription_map = sorted_subscriptions(@subscriptions) %>
  <%= render "_subway_subscription_info.html", conn: @conn, subscriptions: customer_subscription_map[:subway] %>
  <%= render "_commuter_rail_subscription_info.html", conn: @conn, subscriptions: customer_subscription_map[:commuter_rail], commuter_rail_departure_time_map: @commuter_rail_departure_time_map %>
  <%= render "_bus_subscription_info.html", conn: @conn, subscriptions: customer_subscription_map[:bus] %>
  <%= link("Create a new subscription", to: subscription_path(@conn, :new), class: "btn btn-primary btn-create-new-sub") %>
</div>
