<%= for {date, events} <- @timeline do %>
  <div class="timeline-date-element">
    <span class="timeline-date"><%= date %></span>
    <hr class="timeline-date-line">
  </div>
  <%= for {time, event} <- events do %>
    <div class="timeline-element">
      <span class="timeline-activity"><%= event %></span>
      <span class="timeline-timestamp"><%= time %></span>
    </div>
  <% end %>
<% end %>
