.login-header-text {
  margin-left: 1rem;
  margin-right: 1rem;
}

.create-account-container,
.login-container {
  @include media-breakpoint-up(sm) {
    @include make-col(8);
    @include make-col-offset(2);
  }
}

.create-account-header,
.login-header {
  font-weight: $headings-font-weight;
  margin-bottom: 1rem;
}

.login-header {
  text-align: center;
  @include media-breakpoint-down(sm) {
    text-align: left;
  }
}

.login-container {
  padding: 0 1rem;
  p {
    text-align: center;
    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }
}

.account-creation-divider {
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}

.btn-create-account,
.btn-login {
  width: 15rem;
  margin: 0 auto;
  margin-bottom: $cta-margin-bottom;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.account-creation-footer,
.login-footer {
  @include media-breakpoint-up(sm) {
    @include make-col(6);
    @include make-col-offset(3);
  }
  @include media-breakpoint-down(sm) {
    text-align: left;
  }
  text-align: center;
}

.delete-account-content,
.unsubscribe-content {
  text-align: center;
}
