.admin-table {
  border: 1px solid $border-color;
}

.admin-table-column {
  flex-grow: 1;
  flex-basis: 25%;
}

.admin-table-header {
  background-color: $brand-navy-dark;
  color: $white;
  display: flex;
  font-size: $base-font-size-xxl;
  font-weight: bold;
  padding: 1rem 3rem;
}

.admin-table-row {
  display: flex;
  padding: 1rem 3rem;

  &:nth-of-type(even) {
    background-color: $pale-grey;
  }
}

.admin-table-cell {
  color: $brand-primary;
  flex-basis: 25%;
  flex-grow: 1;
}

.search-subscriber-form {
  @include media-breakpoint-up(sm) {
    @include make-col(8);
    @include make-col-offset(2);
  }

  background-color: $white;
  border: 1px solid $steel;
  border-radius: 0.1875rem;
  display: block;
  margin: 5rem auto;
  padding: 0.125rem 0;
  text-align: right;
}

.admin-search-icon {
  color: $brand-primary;
  float: left;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.5;
  padding: 0.375rem 0.8rem;
}

.admin-search-input {
  border-width: 0;
  display: block;
  float: left;
  margin-right: .125rem;
  outline: 0;
  padding: .375rem .5rem;
  width: 75%; // fallback for browsers that don't support calc
  width: calc(100% - 9.5rem);

  &:focus {
    border-width: 0;
    outline: 0;
  }
}

.admin-search-submit {
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 1.5;
  margin-right: .125rem;
  padding: 0.375rem 1rem;
  vertical-align: middle;
  white-space: nowrap;
}

.new-admin-btn {
  margin-bottom: .5rem;
}

.create-admin-cancel-container {
  text-align: center;
}

.admin-navbar-email {
  padding-top: .5rem;
  padding-left: 3rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 0;
}

.nav-link > a {
  text-decoration: none;
  color: black;
}

.nav-active {
  border-bottom: 5px solid #ffcf00;
}

.nav-active > a {
  color: #1c77c3;
}

.breadcrumb-item:last-child {
  pointer-events: none;
  color: black;
}
