.callout {
  background-color: $admin-detail-color;
  border: 1px solid $pale-grey;
  padding: 1.1rem 1.3rem;
}

.callout__head {
  font-weight: bold;
}

.callout__subhead {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.callout__content-container {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1087px) {
    flex-direction: column;
  }
}

.callout__icons {
  margin-left: auto;

  g, path {
    fill: #212529;
  }
}
