$cerulean: #0061cb;
$gray-lightest: #e9eaed;
$pale-blue: #cde0f5;

$link-color: $cerulean;
$link-hover-color: $pale-blue;
$link-hover-decoration: none;
$border-color: $gray-lightest;

$brand-bus: #ffce0c;
$brand-commuter-rail: #a00a78;
$brand-ferry: #5da9e8;
$brand-purple: #3324ae;
$brand-subway: #494f5c;
