html {
  @include media-breakpoint-up(xxl) {
    font-size: $base-font-size-xxl;
  }
}

h1,
.h1 {
  border-bottom-color: $brand-primary;
  border-bottom-style: solid;
  border-bottom-width: $base-spacing / 4;
  font-family: $font-family-base;
  font-weight: $headings-font-weight;
  margin-bottom: 2.875rem;
  padding: 1.75rem 0 0.5rem;
}
