.footer {
  background-color: #092e4d;
  height: 8rem;
  width: 100%;
  overflow: hidden;
}

.footer > p {
  color: white;
  text-align: center;
  position: relative;
  top: 3rem;
  margin-bottom: 0;
}

.footer-link {
  color: $link-color-dark-background;

  &:hover,
  &:active,
  &:focus {
    color: $link-color-dark-background;
    text-decoration: underline;
  }
}
