// disable bootstrap input decoration.
.has-danger .form-control-danger {
  background-image: none;
}

.has-success .form-control-success {
  background-image: none;
}

button {
  font-family: $font-family-base;
  line-height: $base-form-line-height;
}

.btn-wide {
  margin-bottom: 1.5rem;
  width: 15rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  border: 1px solid $input-border-color;
  font-family: $font-family-base;
  line-height: $base-form-line-height;
}

.form-label {
  display: block;
  font-weight: $headings-font-weight;
  margin-bottom: 0.05rem;
}

.form-sub-label {
  display: block;
  font-size: $base-font-size-xs;
  margin-bottom: 0.28rem;
  font-style: italic;
  color: $form-helper-text-color;
  line-height: 1rem;
}

.form-control:invalid {
  border-color: $brand-danger;
}

.form-control:valid {
  border-color: $brand-success;
}

.form-control:invalid:focus {
  border-color: $input-border-color;
}

.form-control:valid + span:before {
  @include fa-icon();
  color: $brand-success;
  content: $fa-var-check-circle;
  float: right;
  left: -.5rem;
  position: relative;
  top: -1.75rem;
}

.error-block-container {
  background-color: $form-error-message;
  margin-top: .5rem;

  span {
    display: block;
    margin: .5rem;
    padding: .4rem;

    &:before {
      @include fa-icon();
      content: $fa-var-exclamation-circle;
      margin-right: .25rem;
    }
  }
}

.radio {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.toggleable {
  display: none;
}

.toggle_show:checked ~ .toggleable {
  display: block;
}

.toggle_hide:checked ~ .toggleable {
  display: none;
}

.large-input {
  border: 1px solid $steel;
  border-radius: 4px;
  line-height: 1.55rem;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
}
