.form__intro {
  margin-bottom: 1.25rem;
}

.form__instructions {
  margin: 1rem 0 1.5rem;
  font-weight: bold;
}

.form__label {
  font-weight: bold;
}

.form__label--text {
  margin-bottom: .5rem;
}

.form__label--disabled {
  color: $gray;
}

.form__label--radio {
  font-weight: bold;
  display: inline;
}

label.form__label--inline {
  padding-right: 15px;
  font-style: italic;
  justify-content: flex-start;
}

.form__group--inline {
  padding-top: 10px;
  flex-flow: initial;
}

.form__input {
  padding: .75rem;
}

.form__input--inline {
  margin-left: .75rem;
  margin-right: .75rem;
  padding: .25rem;
}

.form__select--inline-small {
  display: inline-block;
  width: 8rem;
  margin-right: .5rem;
}

.error-block-container {
  background-color: $form-error-message;
  margin-top: .5rem;

  span {
    display: block;
    margin: .5rem;
    padding: .4rem;

    &:before {
      @include fa-icon();
      content: $fa-var-exclamation-circle;
      margin-right: .25rem;
    }
  }
}

.form__action-buttons--container {
  margin: 2.5rem 2px 0 2px;
}

.form__action-button {
  min-width: 10rem;

  @include media-breakpoint-down(xs) {
    min-width: 8rem;
  }
}

.form__phone--input {
  width: 10rem;
}

.form__phone--note {
  @include media-breakpoint-down(lg) {
    display: block;
    padding-top: .5rem
  }

  @include media-breakpoint-up(xxl) {
    margin-left: .5rem;
  }
}

.form__section {
  margin-bottom: 3rem;
}

.form__section--top {
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

.form__section--trip {
  .form-group {
    margin-bottom: 0;
  }

  label.form__label--inline {
    width: 3em;
  }
}

.form-control {
  border-color: $brand-primary;
}

.form-control__details {
  font-size: $font-size-xs;
  font-style: italic;
  line-height: 1.3125rem;
}

.form-check-input {
  margin-top: .1rem;
}

.form__action--secondary-link {
  margin-bottom: 1rem;
}

.btn__radio--toggle-container {
  width: 100%;

  select {
    display: none;
  }
}

.btn__radio--toggle {

  white-space: normal;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  div, svg {
    pointer-events: none;
  }

  svg {
    margin-top: .5rem;
  }

  &.active div {
    color: $brand-primary;
  }

  &:hover {
    background-color: #fff !important;
  }

  &:focus {
    z-index: 9999 !important;
  }
}

.btn__radio--toggle-item {
  width: 50%;
  border-radius: 4px !important;

  &:first-child {
    margin-right: 1rem;
  }

  &:last-child {
    margin-left: 1rem;
  }
}

.btn__radio--toggle-item-connected {
  flex-grow: 1 !important;
  flex-basis: 0 !important;
}

.btn__radio--toggle-container-wrap {
  width: 100%;
  display: flex;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    
    .btn__radio--toggle-item {
      width: 100%;

      &:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}

.form__time {
  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: white;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-position: center right 3px;
    background-repeat: no-repeat;
    border: 1px solid $brand-primary;
    border-radius: 5px;
    padding: 6px 25px 6px 9px;
  }

  span {
    margin: 0 0.2rem;
  }
}
