.header__container {
  border-bottom: 1px solid $pale-grey;
  position: relative;
  background-color: $dark-blue;
}

.header__mbta-logo {
  display: block;
  margin: 9px 0;
}

.header__back {
  color: $white;

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}

.header__right {
  position: absolute;
  top: 0;
  right: 15px;
}

.header__app-logo {
  color: $gray-dark;
  font: bold 16px "Helvetica Neue";
  transform: translateY(2px);
}

.header__menu--list {
  div {
    margin-left: 1rem;
    display: inline;
  }
}

.header__sub--container {
  position: relative;
  line-height: 2.5rem;
  border-bottom: 1px solid $pale-grey;
}

.header__sub--container_note {
  background-color: #fbce0e;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  padding: 0.8rem 0;
}

a[data-menu-toggle="up"] {
  .fa-angle-down {
    display: none;
  }
}

a[data-menu-toggle="down"] {
  .fa-angle-up {
    display: none;
  }
}
