.header-container {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1.75rem;
  padding-bottom: 0;
}

.header-link {
  font-size: $base-font-size-xxl;
  font-weight: normal;
  margin-left: auto;
  @include media-breakpoint-down(xs) {
    position: absolute;
    right: 1rem;
  }
}

.mbta-beta-logo {
  height: 3rem;
}

.top-navbar {
  margin: 0 auto;
  padding: .6rem 0;
  width: 70%;
}

.page-content {
  padding-bottom: 10rem;
  flex: 1 0 auto;
}

.breadcrumb {
  margin: 0 auto;
  padding: .6rem 1rem;
}
