body.landing-page {
  .page__content {
    display: flex;
    max-height: 28.5rem;
    padding-bottom: 0;
    position: relative;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: 28.5rem;
    }

    @media screen and (max-width: 1088px) {
      max-height: none;
      padding-top: 0.9rem;
    }

    main {
      display: flex;
      flex: 1 1 auto;
      -ms-flex: 1 1 auto;

      div {
        flex: 1 1 auto;
        -ms-flex: 1 1 auto;
      }
    }
  }

  .footer__container {
    box-shadow: 0 50vh 0 50vh $dark-blue;
  }
}

.landing-page {
  line-height: 1.5rem;
}

.landing-page__title {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 1rem;

  @media screen and (max-width: 1088px) {
    font-size: 1.75rem;
    line-height: 2.1875rem;
  }

  span {
    white-space: nowrap;
  }
}

.landing-page__description {
  font-size: $font-size-xxl;
  line-height: 1.6875rem;
  margin-bottom: 3.5rem;

  @media screen and (max-width: 1088px) {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
  }
}

.landing-page__buttons {
  .btn + .btn {
    margin-top: 12px;
  }
}

.landing-page__faq {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin-top: 0.8rem;
  text-align: center;

  @media screen and (max-width: 1088px) {
    margin-bottom: 3rem;
  }
}

.landing-page__example {
  align-items: flex-end;

  @media screen and (max-width: 1088px) {
    text-align: center;
  }

  img {
    margin-top: -8px;
    margin-left: 50px;
    width: 85%;

    @media screen and (min-width: 1344px) {
      margin-top: -7px;
      width: 75%;
    }

    @media screen and (max-width: 1088px) {
      margin-top: 0;
      margin-left: 0;
      margin-bottom: -13px;
      width: 100%;
    }
  }
}
