.subscription-step {
  @include media-breakpoint-up(sm) {
    @include make-col(8);
    @include make-col-offset(2);
  }

  text-align: center;
}

.select-service-header {
  margin-bottom: 1rem;
}

.select-service-subheader {
  margin-bottom: 2.25rem;
}

.select-trip-type-header {
  margin-bottom: 3.25rem;
}

.service-options-container,
.trip-type-options-container {
  border: $border-width solid $border-color;
}

.service-option,
.trip-type-option {
  color: $secondary-link-color;
  display: block;
  padding: 1rem 0;
  position: relative;
}

.service-option:not(:last-child),
.trip-type-option:not(:last-child) {
  border-bottom: $border-width solid $border-color;
}

.service-option:hover,
.trip-type-option:hover {
  color: $secondary-link-color;
  text-decoration: none;
  background-color: $secondary-link-hover-color;
}

.subscription-icon {
  border-radius: 100%;
  height: 1.5rem;
  left: 1.25rem;
  position: absolute;
  top: 1.125rem;
  width: 1.5rem;

  img {
    position: relative;
  }

  .amenity {
    height: 36px;
  }
}

.subway-icon {
  background-color: $brand-subway;

  img {
    height: 1rem;
  }
}

.commuter-rail-icon {
  background-color: $brand-commuter-rail;

  img {
    bottom: .03125rem;
    height: 1.125rem;
  }
}

.bus-icon {
  background-color: $brand-bus;

  img {
    height: 1rem;
    left: .0625rem;
  }
}

.ferry-icon {
  background-color: $brand-ferry;

  img {
    bottom: .0625rem;
    height: 1rem;
  }
}

.mbta-icon {

  img {
    bottom: .1875rem;
  }
}

.subscription-back-link {
  display: block;
  text-align: left;
  font-size: $base-font-size;
  margin-top: 1.125rem;

  .fa-arrow-left {
    bottom: .0625rem;
    margin-right: .125rem;
    position: relative;
  }
}

.select-station {
  margin-bottom: 1.5rem;
  position: relative;
}

.subscription-select {
  width: 100%;
}

.station-input-label {
  margin-bottom: .25rem;
  text-align: left;
}

.station-input {
  border: $border-width solid $steel;
  border-radius: 4px;
  font-family: $font-family-base;
  padding: .5rem 0 .5rem .75rem;

  ~ .valid-checkmark-icon {
    display: none;
  }
}

.station-input[data-valid='true'] {
  border-color: $brand-success;

  ~ .valid-checkmark-icon {
    color: $brand-success;
    display: block;
    position: absolute;
    right: 1rem;
    top: 2.5rem;
  }
}

.station-suggestion {
  background-color: $pale-grey-30;
  border-bottom: $border-width solid $white;
  color: $dark-blue;
  display: flex;
  justify-content: space-between;
  font-weight: $suggestion-font-weight;
  padding: .75rem 0 .75rem 1rem;
}

.station-suggestion.hidden {
  display: none;
}

.station-suggestion:hover {
  cursor: pointer;
}

.station-lines {
  align-items: center;
  display: flex;
}

.line-name {
  color: $gray-dark;
  font-size: $base-font-size;
  font-weight: normal;
  margin: 0 1rem 0 .25rem;
}

.subscription-select.no-js {
  background-color: $white;
  font-family: $font-family-base;
  height: 3rem;
}

.select-days {
  margin-bottom: 1rem;
  text-align: left;
}

.travel-times {
  margin-bottom: 2rem;
  text-align: left;
}

.subscription-day-checkbox {
  margin: 0 .25rem 0 2rem;
}

#subscription_weekday {
  margin-left: 0;
}

.travel-time-select-section {
  margin-bottom: 1.5rem;
}

.travel-time-label {
  display: inline-block;
  margin-right: .5rem;
}

.travel-times-sub-label {
  margin-bottom: 1rem;
}

.travel-time-select,
.relevant-days-select {
  background-color: $white;
  font-family: $font-family-base;
  font-size: $base-font-size-xxl;
  height: 2.25rem;
  width: 7.5rem;
  border-color: $input-border-color;
}

.relevant-days-select {
  width: 100%;
  text-align-last: left;
}

.relevant-days-select[data-valid='true'],
.travel-time-select[data-valid='true'] {
  border-color: $brand-success;
}

.travel-time-connector {
  display: inline-block;
  margin: 0 1rem;
}

.trip-info-header.bus {
  padding-bottom: 36px;
}

.trip-info-footer {
  border-top: 1px solid $pale-grey;
  padding: 2rem 0 3.5rem;
  position: relative;
  text-align: center;
}

.btn-subscription-next {
  width: 15rem;
}

.back-link-container {
  position: absolute;
  bottom: 4rem;
  padding: 0;
}

.subscription-info-back-link {
  color: $link-color;
  padding: 0;
  cursor: pointer;

  @include hover-focus-active {
    color: $link-hover-color;
  }
}

.preferences-subtitle {
  margin-bottom: 2rem;
}

.trip-summary {
  border-bottom: 1px solid $pale-grey;
  border-top: 1px solid $pale-grey;
  padding: 2rem 0;
  text-align: center;
}

.trip-prefs-form {
  text-align: left;
}

.trip-alert-priority {
  padding: 2rem 0;
}

.priority-sub-label {
  margin-bottom: 1rem;
}

.priority-options {
  background-color: $pale-grey-30;
}

.priority-radio-option {
  align-items: center;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 1.25rem 0;

  input {
    margin: 0 1.25rem;
  }
}

.priority-option-divider {
  background-color: $pale-grey;
  height: 1px;
  margin: 0 auto;
  width: 80%;
}

.trip-select-subheader {
  @include make-col(10);
  @include make-col-offset(1);
  margin-bottom: 2.2rem;
}

.trip-select-list-header {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  font-weight: $headings-font-weight;
}

.trip-select-list {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  background-color: $pale-grey-30;
  text-align: left;
  margin-bottom: 2rem;
}

.trip-option {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 1rem;

  &.hidden {
    display: none;
  }
}

.trip-option-input {
  cursor: pointer;
  display: flex;
  flex-basis: 7%;
  align-self: center;
}

.trip-option-description {
  cursor: pointer;
  font-size: $base-font-size;
  display: flex;
  flex-basis: 100%;
  margin-bottom: 0;
}

.trip-toggle-links {
  text-align: right;

  .hidden {
    display: none;
  }
}

.view-all-link,
.view-less-link,
.view-more-link {
  cursor: pointer;
  color: $link-color;
  margin-left: 1.5rem;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $link-hover-color;
    transition: all 0.2s ease-in-out;
  }
}

.edit-subscription {
  margin-bottom: 3rem;
  text-align: left;
}

.edit-subscription-title {
  margin-bottom: 1.25rem;
}

.edit-form-label {
  margin-bottom: .5rem;
}

.edit-form-section {
  margin-bottom: 2rem;
}

.edit-priority-options {
  margin-bottom: 1.75rem;
}

.edit-subscription-section-container {
  background-color: $pale-grey-30;
  padding: 1.25rem 0 .75rem 1.25rem
}

.update-button-container {
  border-top: 1px solid $pale-grey;
  padding-top: 2rem;
  text-align: center;
}

.amenity-station-list {
  margin-bottom: 1.5rem;
  text-align: left;
  width: 100%;
}

.station-select-group {
  display: inline-flex;
  width: 100%;
}

.subscription-select-amenity-station.no-js {
  margin-bottom: 1.5rem;
}

.btn-add-amenity-station {
  height: 54px;
  margin-left: 1rem;
}

.btn-selected-station {
  background-color: $pale-grey;
  margin: 0.25rem 0.25rem;
}

.btn-amenity-submit {
  height: 45px;
  margin: 36px 0px;
  width: 270px;
}

.select-amenity-station {
  margin-bottom: 0;
}

.amenity-station-select-sub-label {
  text-align: left;
}

.amenity-subscription-form-section {
  border-bottom: 1px $pale-grey solid;
}

#subscription_elevator {
  margin-left: 0px;
}

#subscription_red {
  margin-left: 0px;
}

.subscription-facility-types {
  text-align: left;
}
