.trip__card {
  display: block;
  line-height: 1.5rem;
  padding: 0;
  border-color: $steel;
  color: $black !important;
  text-align: left;
  white-space: normal;

  &:hover,
  &:active,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}

.trip__card--route {
  font-weight: bold;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.trip__card--route-container {
  display: inline-block;
  padding-right: 1rem;

  @include media-breakpoint-down(sm) {
    display: block;
    padding-right: 0;
  }
}

.trip__card--route-icon {
  display: inline-block;
  margin-right: 4px;
  transform: translate(0px, 4px);
}

.trip__card--type,
.trip__card--times {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.trip__card--container {
  padding: 10px 0;

  &:first-child {
    padding-top: 2rem;
  }

  &:last-child {
    padding-bottom: 1rem;
  }
}

.trip__card--edit-link {
  float: right;
  color: $brand-primary;
}

.trip__card--delete-link {
  float: right;
  color: $brand-danger;
}

.trip__editpage .trip__card--edit-link,
.trip__editpage .trip__card--delete-link {
  display: none;
}

.trip__card--display {
  cursor: auto !important;

  &:hover {
    background-color: #fff !important;
  }
}

.trip__card--btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 5rem;
  font-size: $font-size-xxl;
}

.trip__card--bottom {
  border-top: 1px solid $pale-grey;
  padding: .75rem;
  border-radius: 0 0 .25rem .25rem;
}

.trip__card--top {
  padding: .75rem;
  border-radius: .25rem .25rem 0 0;
  background-color: $white;
}

.trip__card--top-details {
  padding-top: .5rem;
}

.trip__card {
  &:hover {
    .trip__card--bottom {
      background-color: $light-blue;
    }
  }
}

.trip__editpage {
  .trip__card {
    &:hover {
      .trip__card--bottom {
        background-color: $white;
      }
    }
  }
}

.trip__editpage {
  border-bottom: 1px solid $pale-grey;
  padding-bottom: 2.5rem;
}
