@import 'node_modules/bootstrap/scss/variables';
@import "colors";

$active-step-font-weight: bold;
$active-step-circle-border-color: $dark-blue;
$active-step-circle-background-color: $dark-blue;
$base-spacing: 1rem;
$base-font-size-xs: 14px;
$base-font-size: 16px;
$base-font-size-xxl: 18px;
$headings-font-weight: bold;
$headings-line-height: 1.5;
$font-size-h1-xxl: 1.875rem;
$font-size-h2-xxl: 1.625rem;
$font-family-base: 'LatoLatinWeb', sans-serif;
