/* This file is for your main application css. */
@import "variables";
@import "mixins";
@import "vendor/flatpickr";
@import "bootstrap";
@import "font-sizes";
@import "footer";
@import "font-awesome";
@import "lato";
@import "forms";
@import "no-js";
@import "icons";
@import "header";
@import "email";
@import "subscription";
@import "subscription-progress-bar";
@import "account";
@import "my-account";
@import "my-subscriptions";
@import "password-reset";
@import "admin";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 20rem;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
