/* This file is for your main application css. */
@import "variables";
@import "mixins";
@import "bootstrap";
@import "font-sizes";
@import "font-awesome";
@import "lato";
@import "forms";
@import "no-js";
@import "icons";
@import "header";
@import "subscription";
@import "subscription-progress-bar";
@import "account";
@import "my-account";
@import "my-subscriptions";
@import "password-reset";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 20rem;
  text-rendering: optimizeLegibility;
}
