<p><strong>What stations do you normally travel between?</strong></p>

<p class="font-italic">Note: Your alerts will include station and service information about stations 1 and 2, and every station in between.</p>
