Hello,

You recently requested a password reset for your MBTA Alerts account.

Please click the link below and follow the instructions on the page to reset your password:

<%= password_reset_url(ConciergeSite.Endpoint, :show, @password_reset_id) %>


Please note that this link will expire after one hour.
