<h1 class="heading__title">Boat-Long Subscription Migration</h1>
<%= flash_info(@conn) %>

<h2 class="heading__subtitle">Subscription Counts</h2>
<dl>
  <dt class="font-weight-normal">Subscription count for route: Boat-F1, stop: Boat-Long on (NO CHANGE)</dt>
  <dd data-testid="f1-long-count"><%= @f1_count %></dd>
</dl>
<dl>
  <dt class="font-weight-normal">Subscription count for route: Boat-EastBoston, stop: Boat-Long (OLD)</dt>
  <dd data-testid="eastboston-old-stop-count"><%= @eastboston_old_stop_count %></dd>
</dl>
<dl>
  <dt class="font-weight-normal">Subscription count for route: Boat-EastBoston, stop: Boat-Long-North-5B (NEW)</dt>
  <dd data-testid="eastboston-new-stop-count"><%= @eastboston_new_stop_count %></dd>
</dl>
<dl>
  <dt class="font-weight-normal">Subscription count for route: Boat-Lynn, stop: Boat-Long (OLD)</dt>
  <dd data-testid="lynn-old-stop-count"><%= @lynn_old_stop_count %></dd>
</dl>
<dl>
  <dt class="font-weight-normal">Subscription count for route: Boat-Lynn, stop: Boat-Long-North-5C (NEW)</dt>
  <dd data-testid="lynn-new-stop-count"><%= @lynn_new_stop_count %></dd>
</dl>

<h2 class="heading__subtitle">Migration Actions</h2>

<ol>
  <li class="mt-4">
    Create new subscriptions for Boat-EastBoston: 
    <%= link to: admin_boat_long_migration_path(@conn, :migrate_boat_eastboston), class: "btn btn-primary", method: :post do %>
      <i class="fa fa-play-circle-o"></i> Run
    <% end %>
    <ul>
      <li>Copies subscriptions involving stop Boat-Long on route Boat-EastBoston to use stop Boat-Long-North-5B</li>
    </ul>
  </li>
  <li class="mt-4">
    Delete old subscriptions for Boat-EastBoston: 
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eastboston-delete-confirm">
      <i class="fa fa-play-circle-o"></i> Run
    </button>
    <ul>
      <li>Deletes subscriptions involving stop Boat-Long on route Boat-EastBoston</li>
    </ul>
  </li>
  <li class="mt-4">
    Create new subscriptions for Boat-Lynn: 
    <%= link to: admin_boat_long_migration_path(@conn, :migrate_boat_lynn), class: "btn btn-primary", method: :post do %>
      <i class="fa fa-play-circle-o"></i> Run
    <% end %>
    <ul>
      <li>Copies subscriptions involving stop Boat-Long on route Boat-Lynn to use stop Boat-Long-North-5C</li>
    </ul>
  </li>
  <li class="mt-4">
    Delete old subscriptions for Boat-Lynn: 
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#lynn-delete-confirm">
      <i class="fa fa-play-circle-o"></i> Run
    </button>
    <ul>
      <li>Deletes subscriptions involving stop Boat-Long on route Boat-Lynn</li>
    </ul>
  </li>
</ol>

<div id="eastboston-delete-confirm" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This will delete <%= @eastboston_old_stop_count %> route: Boat-EastBoston, stop: Boat-Long subscriptions.</p>
        <%= if @eastboston_old_stop_count > @eastboston_new_stop_count do %>
          <div class="alert alert-danger" role="alert">
            That’s more than the <%= @eastboston_new_stop_count %> route: Boat-EastBoston, stop: Boat-Long-North-5B subscriptions! Consider running Step 1 again first to make sure no data is lost.
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= link to: admin_boat_long_migration_path(@conn, :delete_boat_eastboston), class: "btn btn-danger", method: :post do %>Delete Boat-EastBoston @ Boat-Long subscriptions<% end %>
      </div>
    </div>
  </div>
</div>

<div id="lynn-delete-confirm" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This will delete <%= @lynn_old_stop_count %> route: Boat-Lynn, stop: Boat-Long subscriptions.</p>
        <%= if @lynn_old_stop_count > @lynn_new_stop_count do %>
          <div class="alert alert-danger" role="alert">
            That’s more than the <%= @lynn_new_stop_count %> route: Boat-Lynn, stop: Boat-Long-North-5C subscriptions! Consider running Step 1 again first to make sure no data is lost.
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= link to: admin_boat_long_migration_path(@conn, :delete_boat_lynn), class: "btn btn-danger", method: :post do %>Delete Boat-Lynn @ Boat-Long subscriptions<% end %>
      </div>
    </div>
  </div>
</div>
