<h1 class="heading__title">Boat-Long Subscription Migration</h1>
<%= flash_info(@conn) %>

<h2 class="heading__subtitle">Subscription Counts</h2>
<dl>
  <dt class="font-weight-normal">Subscription count for route: Boat-F1, stop: Boat-Long on (NO CHANGE)</dt>
  <dd data-testid="f1-long-count"><%= @f1_count %></dd>
</dl>
<dl>
  <dt class="font-weight-normal">Subscription count for route: Boat-EastBoston, stop: Boat-Long (OLD)</dt>
  <dd data-testid="eastboston-old-stop-count"><%= @eastboston_old_stop_count %></dd>
</dl>
<dl>
  <dt class="font-weight-normal">Subscription count for route: Boat-EastBoston, stop: Boat-Long-North-5B (NEW)</dt>
  <dd data-testid="eastboston-new-stop-count"><%= @eastboston_new_stop_count %></dd>
</dl>
<dl>
  <dt class="font-weight-normal">Subscription count for route: Boat-Lynn, stop: Boat-Long (OLD)</dt>
  <dd data-testid="lynn-old-stop-count"><%= @lynn_old_stop_count %></dd>
</dl>
<dl>
  <dt class="font-weight-normal">Subscription count for route: Boat-Lynn, stop: Boat-Long-North-5C (NEW)</dt>
  <dd data-testid="lynn-new-stop-count"><%= @lynn_new_stop_count %></dd>
</dl>


