<h1 class="heading__title">Administration</h1>

<div class="list-group">
  <%= link to: admin_queries_path(@conn, :index), class: "list-group-item list-group-item-action" do %>
    <i class="fa fa-database"></i> Database queries
  <% end %>

  <%= link to: admin_admins_path(@conn, :index), class: "list-group-item list-group-item-action" do %>
    <i class="fa fa-key"></i> Manage admin access
  <% end %>
</div>
