<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MBTA Alerts</title>
    <style type="text/css">
      /* Using comments a hack to preserve syntax highlighting
        <%= digest_styles %>
      */
    </style>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
      <table class="digest-header">
        <tr>
          <td>
            <img
              src="<%= AlertProcessor.DigestMailHelper.mbta_logo() %>"
              alt="mbta-logo"
              height="48px"
              width="48px">
          </td>
          <td>
            Massachusetts Bay
            </br>
            Transportation Authority
          </td>
        </tr>
      </table>

      <h2>
        T-Alerts: Weekly Digest
      </h2>

      <div class="digest-group">
        <%= for group <- digest_date_groups do %>
          <div class="digest-group-section">
            <div class="digest-group-section-title">
              <%= group.title %>:
            </div>
            <%= for alert <- group.alerts do %>
              <table class="digest-group-alert">
                <tr>
                  <td class="alert-logo">
                    <img src="<%= AlertProcessor.DigestMailHelper.logo_for_alert(alert) %>"
                         alt="<%= AlertProcessor.DigestMailHelper.alt_text_for_alert(alert) %>">
                  </td>
                  <td class="alert-details">
                    <%= alert.service_effect %>
                    <br>
                    <%= alert.header %>
                    <div class="alert-separator" />
                  </td>
                </tr>
              </table>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="line" />

      <div class="digest-footer">
        <div class="digest-footer-description">
          The digest of upcoming events has been personalized to you based on your subscription, for full list:
        </div>

        <a class="digest-footer-link" href="https://t.mbta.com/">
          <span class="digest-footer-button">
            View All Alerts
          </span>
        </a>
      </div>

      <div class="footer">
        <div class="footer-copyright">
          &copy; Massachusetts Bay Transportation Authority, all rights reserved.
        </div>

        <table class="footer-links">
          <tr>
            <td class="footer-link">Unsubscribe</td>
            <td class="footer-link-separator">*</td>
            <td class="footer-link">
              <a href="https://t.mbta.com/customer-support">Feedback</a>
            </td>
            <td class="footer-link-separator">*</td>
            <td class="footer-link">Edit Your Subscriptions</td>
          </tr>
        </table>
      </div>
		</center>
	</body>
</html>
