<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MBTA Alerts</title>
    <style type="text/css">
      /* Client-specific Styles */
      #outlook a { padding:0; } /* Force Outlook to provide a "view in browser" button. */
      body { width:800px !important; }
      .ReadMsgBody { width:100%; }
      .ExternalClass { width:100%; } /* Force Hotmail to display emails at full width */
      body { -webkit-text-size-adjust:none; } /* Prevent Webkit platforms from changing default text sizes. */
      /* End Client-specific Styles */

      /* Reset Styles */
      body {
        margin:0;
        padding:0;
      }
      img { border:0;
        height:auto;
        line-height:100%;
        outline:none;
        text-decoration:none;
      }
      table td { border-collapse:collapse; }
      #backgroundTable {
        height:100% !important;
        margin:0;
        padding:0;
        width:100% !important;
      }
      /* End Reset Styles */

      /* Template Styles */
      body {
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      }

      .digest-header {
        border-bottom-color: #3324ae;
        border-bottom-style: solid;
        border-bottom-width: 0.25rem;
        font-weight: bold;
        padding: 1.75rem 0 0.5rem;
        width: 100%;
      }

      .digest-group-section:nth-child(odd) {
        background-color: #f4f4f6;
      }

      .digest-group-section-title {
        font-size: 19px;
        font-weight: bold;
        line-height: 1.58;
        color: #1c1e23;
        text-align: left;
      }

      .digest-group-alert {
        width: 100%;
      }

      .alert-logo {
        width: 10%;
      }

      .alert-details {
        width: 90%;
      }

      .alert-separator {
        width: 100%;
        height: 2px;
        background-color: #dddddd;
      }

      .line {
        width: 100%;
        height: 2px;
        background-color: #061d2e;
      }

      .digest-footer-description {
      	font-size: 18px;
        line-height: 1.44;
        text-align: center;
        color: #1c1e23;
      }

      .digest-footer-link {
      	width: 290px;
        height: 40px;
      }

      .digest-footer-button {
      	width: 244px;
        height: 28px;
        border-radius: 5px;
        background-color: #1c77c3;
        font-size: 16px;
        line-height: 1.75;
        text-align: center;
        color: #ffffff;
       }

       .footer {
         width: 100%;
         height: 120px;
         background-color: #061d2e;
       }

       .footer-copyright {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
      }

      .footer-link {
      	font-size: 15px;
        line-height: 1.6;
        text-align: center;
        color: #67a0d1;
      }

      .footer-link-separator {
        color: #ffffff;
      }
    </style>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
      <table class="digest-header">
        <tr>
          <td>
            <img
              src="<%= AlertProcessor.DigestMailHelper.mbta_logo() %>"
              alt="mbta-logo"
              height="48px"
              width="48px">
          </td>
          <td>
            Massachusetts Bay
            </br>
            Transportation Authority
          </td>
        </tr>
      </table>

      <h2>
        T-Alerts: Weekly Digest
      </h2>

      <div class="digest-group">
        <%= for group <- digest_date_groups do %>
          <div class="digest-group-section">
            <div class="digest-group-section-title">
              <%= group.title %>:
            </div>
            <%= for alert <- group.alerts do %>
              <table class="digest-group-alert">
                <tr>
                  <td class="alert-logo">
                    <img src="<%= AlertProcessor.DigestMailHelper.logo_for_alert(alert) %>" alt="alert-logo">
                  </td>
                  <td class="alert-details">
                    <%= alert.service_effect %>
                    <br>
                    <%= alert.header %>
                    <div class="alert-separator" />
                  </td>
                </tr>
              </table>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="line" />

      <div class="digest-footer">
        <div class="digest-footer-description">
          The digest of upcoming events has been personalized to you based on your subscription, for full list:
        </div>

        <a class="digest-footer-link" href="https://t.mbta.com/">
          <span class="digest-footer-button">
            View All Alerts
          </span>
        </a>
      </div>

      <div class="footer">
        <div class="footer-copyright">
          &copy; Massachusetts Bay Transportation Authority, all rights reserved.
        </div>

        <table class="footer-links">
          <tr>
            <td class="footer-link">Unsubscribe</td>
            <td class="footer-link-separator">*</td>
            <td class="footer-link">
              <a href="https://t.mbta.com/customer-support">Feedback</a>
            </td>
            <td class="footer-link-separator">*</td>
            <td class="footer-link">Edit Your Subscriptions</td>
          </tr>
        </table>
      </div>
		</center>
	</body>
</html>
