<div class="header" style="border-bottom-color: #3324ae; border-bottom-style: solid; border-bottom-width: 0.25rem; font-weight: bold; width: 100%; padding-bottom: 18px;">
  <img class="header-image" src="<%= ConciergeSite.Helpers.MailHelper.mbta_logo() %>" alt="Logo of the Massachusetts Bay Transportation Authority" height="48px" style="border: 0; line-height: 100%; outline: none; text-decoration: none; height: 48px; max-height: 48px; max-width: 268px; padding-left: 10px;">
</div>
