<%= notification.service_effect %>

<%= notification.header %>

<%= notification.description %>

<%= ConciergeSite.Helpers.MailHelper.text_footer(unsubscribe_url, manage_subscriptions_url, feedback_url) %>
