<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MBTA Alert</title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <%= ConciergeSite.Helpers.MailHelper.header() %>
    <div class="notification-content">
      <h1 class="notification-service-effect">
        <span class="notification-logo">
          <img src="<%= ConciergeSite.Helpers.MailHelper.logo_for_alert(notification.alert) %>"
               alt="<%= ConciergeSite.Helpers.MailHelper.alt_text_for_alert(notification.alert) %>">
        </span>
        <%= notification.service_effect %>
      </h1>
      <p class="notification-header">
        <%= notification.header %>
      </p>
      <br>
      <%= if notification.description do %>
        <p class="notification-description"><%= String.replace(notification.description, "\r\n", "<br/>") %></p>
      <% end %>

      <p class="notification-link-wrapper">
        <a class="notification-link" href="https://t.mbta.com/">View all alerts &rarr;</a>
      </p>
    </div>
    <center>
      <%= ConciergeSite.Helpers.MailHelper.footer(unsubscribe_url, manage_subscriptions_url) %>
    </center>
	</body>
</html>
