<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MBTA Alert</title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-font-smoothing: antialiased; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; overflow-y: scroll; max-width: 580px;">
    <div style="width: 460px; padding: 0 60px">
      <div style="border-bottom-color: #15528D; border-bottom-style: solid; border-bottom-width: 3px; width: 100%; padding-bottom: 4px; padding-top: 24px; font-size: 28px">
        <span style="width: 24px; height: 24px;">
            <img src="<%= ConciergeSite.Helpers.MailHelper.logo_for_alert(notification.alert) %>" alt="<%= ConciergeSite.Helpers.MailHelper.alt_text_for_alert(notification.alert) %>" style="border: 0; line-height: 100%; outline: none; text-decoration: none;">
          </span>
          <%= if notification.closed_timestamp do %>
            All clear (re: <%= notification.service_effect %>)
          <% else %>
            <%= notification.service_effect %>
          <% end %>
      </div>
      <div style="padding: 10px 0 40px 0">
        <%= if notification.closed_timestamp do %>
          <p>The issue described below has ended:</p>
          <p style="margin: 0; padding: 0 0 0 15px; border-left: 5px #f7f7f7 solid; font-size: 16px; line-height: 1.5; color: #1c1e23; margin-top: 24px;">
            <%= notification.header %>
          </p>
          <br>
          <%= if notification.description do %>
            <p style="margin: 0; padding: 0 0 0 15px; border-left: 5px #f7f7f7 solid; font-size: 16px; line-height: 1.5; color: #1c1e23;"><%= String.replace(notification.description, "\r\n", "<br/>") %></p>
          <% end %>
        <% else %>
          <p style="margin: 0; padding: 0; font-size: 16px; line-height: 1.5; color: #1c1e23; margin-top: 24px;">
            <%= notification.header %>
          </p>
          <br>
          <%= if notification.description do %>
            <p style="margin: 0; padding: 0; font-size: 16px; line-height: 1.5; color: #1c1e23;"><%= String.replace(notification.description, "\r\n", "<br/>") %></p>
          <% end %>
        <% end %>

        <%= if notification.last_push_notification do %>
          <p style="font-size: 13px">Last Updated: <%= ConciergeSite.Helpers.DateHelper.format_datetime(notification.last_push_notification, :local) %></p>
        <% end %>

        <a href="<%= feedback_url %>" style="display: block; text-align: center; color: #334A60; text-decoration: none; border: 1px solid #334A60; padding: 12px 0; font-size: 16px; border-radius: 3px; margin-top: 30px">
          <img style="display: inline-block; transform: translateY(15%)" src="<%= comment_icon_url %>" />
          How are T-Alerts working for you? Let us know.
        </a>
      </div>
    </div>
    <center>
      <div style="background-color: #15528C; padding: 16px 0; width: 580px;">
        <table>
          <tr>
            <td style="border-collapse: collapse;">
              <a href="<%= manage_subscriptions_url %>" style="color: #fff; font-size: 14px; text-decoration: none;">Edit subscription</a>
            </td>
            <td class="footer-link-separator" style="border-collapse: collapse; width: 10px; height: 10px;">
              <div class="footer-link-separator-bullet" style="height: 5px; width: 5px; border-radius: 100%; background-color: #ffffff;"></div>
            </td>
            <td style="border-collapse: collapse;">
              <a href="https://www.mbta.com/alerts" style="color: #fff; font-size: 14px; text-decoration: none;">See all alerts</a>
            </td>
          </tr>
        </table>
        <div class="footer-copyright" style="font-size: 11px; text-align: center; color: #fff; margin-top: 12px">
          &copy; Massachusetts Bay Transportation Authority, all rights reserved.
        </div>
      </div>
    </center>
	</body>
</html>