<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MBTA Alert</title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <%= ConciergeSite.Helpers.MailHelper.header() %>
    <div class="email-contents">
      <p>
        Hello,
      </p>
      <p>
        You recently requested a password reset for your MBTA Alerts account.
      </p>
      <p>
        Please click the link below and follow the instructions on the page to reset your password:
      </p>
      <p>
        <a href="<%= ConciergeSite.Helpers.MailHelper.reset_password_url(password_reset_id) %>">Reset My Password</a>
      </p>
      <p>
        Please note that this link will expire after one hour.
      </p>
      <p>
        If you have any questions or did not request this password reset, please
        contact <a href="https://t.mbta.com/customer-support">MBTA Customer Support</a>.
      </p>
    </div>
    <center>
      <%= ConciergeSite.Helpers.MailHelper.footer(unsubscribe_url, manage_subscriptions_url) %>
    </center>
  </body>
</html>
