You recently requested a password reset for your T-Alerts account. Please click the link below and follow the instructions on the page to reset your password.

<%= ConciergeSite.Helpers.MailHelper.reset_password_url(reset_token) %>

Please note that this link will expire after one hour.