Hello,

You recently requested a password reset for your MBTA Alerts account.

Please click the link below and follow the instructions on the page to reset your password:

<%= ConciergeSite.Helpers.MailHelper.reset_password_url(password_reset_id) %>


Please note that this link will expire after one hour.

<%= ConciergeSite.Helpers.MailHelper.text_footer(unsubscribe_url, manage_subscriptions_url, feedback_url) %>
