<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= subject %></title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <%= ConciergeSite.Helpers.MailHelper.header() %>
    <div class="email-contents">
      <p><%= body %></p>
    </div>
    <center>
      <div class="footer">
        <div class="footer-copyright">
          &copy; Massachusetts Bay Transportation Authority, all rights reserved.
        </div>
        <table>
          <tr>
            <td>
              <a class="footer-link" href="https://t.mbta.com/customer-support">Feedback</a>
            </td>
            <td class="footer-link-separator">
              <div class="footer-link-separator-bullet" />
            </td>
            <td>
              <a class="footer-link" href="#">Edit Your Subscriptions</a>
            </td>
          </tr>
        </table>
      </div>
    </center>
  </body>
</html>
