<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= subject %></title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none; margin: 0 auto; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; padding: 0px 10px; overflow-y: scroll; max-width: 800px;">
    <%= ConciergeSite.Helpers.MailHelper.html_header() %>
    <div class="email-contents" style="padding: 16px;">
      <p style="margin: 0; padding: 0; margin-bottom: 16px;"><%= body %></p>
    </div>
    <center>
      <%= ConciergeSite.Helpers.MailHelper.html_footer(manage_subscriptions_url, support_url) %>
    </center>
  </body>
</html>
