Hello,

You entered this email address (<%= email %>) when trying to reset the password of an MBTA Alerts account.

However, this email is not associated with any user registered with MBTA Alerts.

If you are an MBTA Alerts subscriber and were expecting this email, please try again with the email associated with your account. If you are not a subscriber, please ignore this email.

For more information, please contact MBTA Customer Support.
