<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MBTA Alert</title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <%= ConciergeSite.Helpers.MailHelper.header() %>
    <div class="email-contents">
      <p>Hello,</p>

      <p>You entered this email address (<%= email %>) when trying to reset the password of an MBTA Alerts account.</p>

      <p>However, this email is not associated with any user registered with MBTA Alerts.</p>

      <p>If you are an MBTA Alerts subscriber and were expecting this email, please try again with the email associated with your account. If you are not a subscriber, please ignore this email.</p>

      <p>For more information, please contact MBTA Customer Support.</p>
    </div>
    <div class="footer">
      <div class="footer-copyright">
        &copy; Massachusetts Bay Transportation Authority, all rights reserved.
      </div>
    </div>
  </body>
</html>
