<h1>My Account</h1>

<div class="my-account-container">
  <div class="delete-account-content">
    <h2>Delete Account?</h2>
    <%= flash_error(@conn) %>
    <p>Are you sure that you’d like to delete your account? This action cannot be undone. </p>
    <%= button("Yes, delete this account", to: my_account_path(@conn, :delete), method: "delete", class: "btn btn-primary btn-wide") %>
    <%= link("Cancel", to: my_account_path(@conn, :edit)) %>
  </div>
</div>
